<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="?action=index">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="?action=slider">Слайдер</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="?action=settings">Настройки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="?action=users">Пользователи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="?action=profile">Профиль</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="?action=help">Помощь</a>
        </li>        
        <li class="nav-item">
            <a class="nav-link" href="?action=logout">Выйти</a>
        </li>
    </ul>
</nav>
