<h1>Профіль</h1>
<?php
$Auth        = new Auth();
$adminId     = isset($_SESSION['admin_id']) ? (int) $_SESSION['admin_id'] : 0;
$adminLogins = $Auth->getLogins();
$adminLogin  = isset($adminLogins[$adminId]) ? $adminLogins[$adminId] : "ROOT";
?>

<div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">ID</label>
    <div class="col-10">
        <input class="form-control" type="text" value="<?php echo $adminId; ?>" disabled>
    </div>
</div>
<div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">Search</label>
    <div class="col-10">
        <input class="form-control" type="text" value="<?php echo $adminLogin; ?>" disabled>
    </div>
</div>