<h1>Настройки</h1>

<script>function confirmDelete(){
    if ( confirm("Удалить запись?") ){
        return true;
    } else {
        return false;
    }
}</script>

<?php

    date_default_timezone_set('Europe/Kiev');

    $current_date = (new DateTime())->format('Y-m-d H:i:s');
$alias= "";
$value = "";
$id = 0;
$update = false;

if (isset($_POST['save'])) {
$alias = $_POST['alias'];
$value = $_POST['value'];
$db = new Db();
$sql = "INSERT INTO settings VALUES (null, '$alias' , '$value', '$current_date' );";
$create = $db->query($sql);
echo "<script>alert('Запись добавлена');</script>";
echo "<script>document.location.replace('?action=settings');</script>";
}


if (isset($_POST['update'])) {
$id = $_REQUEST['id'];
$alias = $_POST['alias'];
$value = $_POST['value'];

$db = new Db();
$update = $db->query("UPDATE settings SET alias = '$alias', value = '$value', created_time = '$current_date' WHERE id = $id");
echo "<script>alert('Информация обновлена');</script>";
echo "<script>document.location.replace('?action=settings');</script>";
}

if (isset($_GET['?del'])) {
$id = $_GET['?del'];

$db = new Db();
$delete = $db->query("DELETE FROM settings WHERE id = $id");
echo "<script>alert('Запись удалена');</script>";
echo "<script>document.location.replace('?action=settings');</script>";
}

if (isset($_GET['?edit'])) {
$id = $_GET['?edit'];
$alias = ['alias'];
$value = ['value'];
$update = true;
$db = new Db();
$record = $db->query("SELECT * FROM settings WHERE id = $id");


if (count($record) == 1 ) {
foreach ($record as $item) {
$alias = $item['alias'];
$value = $item['value'];
}
}
}

$db = new Db();
$sql = "select * from settings";
$settings = $db->query($sql);
?>

<table class="table table-striped">
    <tr>
        <td class="col-sm-2" style="width: 5%">#</td>
        <td class="col-sm-2" style="width: 10%">alias</td>
        <td class="col-sm-2" style="width: 10%">value</td>
        <td class="col-sm-2" style="width: 10%">creatred time</td>
        <td class="col-sm-2" style="width: 10%">actions</td>
    </tr>
    <?php foreach ($settings as $item) { ?>
    <tr>
        <td><?php echo $item['id'];?></td>
        <td><?php echo $item['alias'];?></td>
        <td><?php echo $item['value'];?></td>
        <td><?php echo $item['created_time'];?></td>
        <td>
            <a href="?action=settings&?edit=<?php echo $item['id'] ?>" class="btn btn-sm btn-primary">Edit</a>

            <a href="?action=settings&?del=<?php echo $item['id'] ?>" onclick="return confirmDelete();" class="btn btn-sm btn-warning">Delete</a>
        </td>
    </tr>
    <?php } ?>
</table>
<form method="post" action="?action=settings" >

    <input type="hidden" name="id" value="<?php echo $id ?>">

    <div class="input-group">
        <label>Alias</label>
        <input type="text" name="alias" value="<?php echo $alias ?>">
    </div>
    <div class="input-group">
        <label>Value</label>
        <input type="text" name="value" value="<?php echo $value ?>">
    </div>
    <div class="input-group">

        <?php if ($update == true): ?>
        <button class="btn" type="submit" name="update" style="background: #556B2F;" >update</button>
        <?php else: ?>
        <button class="btn" type="submit" name="save" >Save</button>
        <?php endif ?>
    </div>
</form>