<h1>Налаштування</h1>

<script>
    function confirmDelete() {
        if (confirm("Удалить запись?")) {
            return true;
        }
        return false;
    }
</script>


<table class="table table-striped">
    <thead>
        <tr>
            <th style="width:10%;">#</th>
            <th style="width:25%;">alias</th>
            <th style="width:40%;">value</th>
            <th style="width:10%;">creatred time</th>
            <th style="width:15%;">actions</th>
        </tr>
    </thead>
    <tbody>
    <?php foreach ( (new Settings)->getSettings() as $item) { ?>
        <tr>
            <td><?php echo $item['id'];?></td>
            <td><?php echo $item['alias'];?></td>
            <td><?php echo $item['value'];?></td>
            <td><?php echo $item['created_time'];?></td>
            <td>
                <a href="?action=settings&edit=1&id=<?php echo $item['id'] ?>"  class="btn btn-sm btn-primary">Edit</a>
                <a href="?action=settings&del=1&id=<?php echo $item['id'] ?>" onclick="return confirmDelete();" class="btn btn-sm btn-warning">Delete</a>
            </td>
        </tr>
    <?php } ?>
    </tbody>
</table>



<form method="post" action="?action=settings" >
<?php 
if ( isset($_GET['id'] ) ){
    $setting = (new Settings)->getSettingById( (int)$_GET['id'] );
}
?>

    <input type="hidden" name="id" value="<?php if(isset($_GET['id'])) { echo $_GET['id'];}   ?>">

    <div class="input-group">
        <span class="input-group-addon">Alias</span>
        <input type="text" class="form-control" name="alias" value="<?php echo ( isset($setting['alias']) ? $setting['alias'] : "" ) ?>">
    </div>
    <div class="input-group">
        <span class="input-group-addon">Value</span>
        <input type="text" class="form-control" name="value" value="<?php echo ( isset($setting['value']) ? $setting['value'] : "" ) ?>">
    </div>
    <div class="input-group">

    <?php if (isset($_GET['edit'])) { ?>
        <button class="btn btn-success" type="submit" name="update">update</button>
    <?php } else { ?>
        <button class="btn" type="submit" name="save" >Save</button>
    <?php } ?>
    </div>

</form>
