<h1>Медиафайлы слайдер</h1>
<section class="row text-center placeholders">
    <form enctype="multipart/form-data" action="index.php?action=slider-upload" method="post">
        <div class="form-group">
            <div class="file-loading">
                <label>Preview</label>
                <input id="multimedia-upload" name="multimedia-upload[]" type="file" multiple>
            </div>
        </div>
        <input type="submit">
    </form>

<?php
$initialPreview = array();
$initialPreviewConfig = array();

$images = (new Crud())->getSliderImages();
if ( !empty($images)){
    $i = 1;
    foreach ( $images as $image ){
        $initialPreview[] = '"/images/'.$image['src'].'"';
        $imageConfig = array(
            "caption" => "Image # ".$i,
            "size" => 0,
            "width" => "120px",
            "url" => "index.php?action=slider-delete",
            "key" => $image['id'],
        );
        $initialPreviewConfig[] = json_encode($imageConfig);
        ++$i;
    }
}

?>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/plugins/sortable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/locales/ru.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/themes/explorer-fa/theme.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/themes/fa/theme.min.js"></script>

<script>
    $("#multimedia-upload").fileinput({
        theme: 'fa',
        showUpload: false,
        showCaption: false,
        browseClass: "btn btn-primary btn-lg",
        fileType: "any",
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
        overwriteInitial: false,
        initialPreviewAsData: true,
        initialPreview: [
            <?php echo (!empty($initialPreview) ? implode(",", $initialPreview) : "" ) ?>
        ],
        initialPreviewConfig: [
            <?php echo (!empty($initialPreviewConfig) ? implode(",", $initialPreviewConfig) : "" ) ?>

        ],
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        maxFileSize: 10000,
        maxFilesNum: 3,
        uploadUrl: "index.php?action=slider-upload"
    });
</script>