<h1>Редактировать пользователя</h1>

<div class="span10 offset1">

    <form class="form-horizontal" action="?action=update&?id=<?php echo $_REQUEST['?id']; ?>" method="post">

        <div class="control-group">
            <label class="control-label">Email</label>
            <div class="controls">
                <input name="email" type="text" placeholder="Введите email" value="">
            </div>
        </div>
        <div class="control-group ">
            <label class="control-label">Пароль</label>
            <div class="controls">
                <input name="password" type="password"  placeholder="Введите новый пароль" value="">
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success">Обновить</button>
            <a class="btn" href="?action=users">Назад</a>
        </div>
    </form>
</div>

</div>


